{{> header}}
<div class="container">
	<div class="title">
		<b>Splatoon Server Status</b>
	</div>
	<div class="sub-title">Splatfest</div>
	<div class="splatfest">
		<img class="art" src="/assets/images/splatfest.jpg"></img>
		<div class="splatfest-content">
			<div class="theme"><b>{{splatfest.theme}}</b></div>
			<div class="timestamp">{{splatfest.timeOfFest}}</div>
			<div class="stages"><b>Maps:</b><br>{{splatfest.stages.[0]}}<br>{{splatfest.stages.[1]}}<br>{{splatfest.stages.[2]}}<br>Mode: {{splatfest.gamemode}}</div>
		</div>
	</div>
	<div class="cmaps">
		Current Maps
	</div>
	<div class="nmaps">
		Next Maps
	</div>
</div>