{{> header}}
<div class="container">
	<div class="title">
		<b>Splatoon Server Status</b>
	</div>
	{{#if splatfest.avaliable}}
	<div class="sub-title">Splatfest: {{splatfest.Sstatus}}</div>
	<div class="splatfest">
		<img class="art" src="/assets/images/splatfest.jpg"></img>
		<div class="splatfest-content">
			<div class="theme"><b>{{splatfest.theme}}</b></div>
			<div class="timestamp">{{splatfest.timeOfFest}}</div>
			<div class="stages"><b>Maps:</b><br>{{splatfest.stages.[0]}}<br>{{splatfest.stages.[1]}}<br>{{splatfest.stages.[2]}}<br><br><b>Mode:</b> {{splatfest.gamemode}}</div>
		</div>
	</div>
	{{/if}}
	<div class="sub-title">Current Maps</div>
	<div class="cmaps">
		<div class="block">
			<div class="rule">Mode: Turf War</div>
			<img class="stage-image" src="/assets/images/maps/{{currentrotation.normalIDs.[0]}}.png"></img>
			{{currentrotation.normalStages.[0]}}
		</div>
		<div class="block">
			<div class="rule">Mode: Turf War</div>
			<img class="stage-image" src="/assets/images/maps/{{currentrotation.normalIDs.[1]}}.png"></img>
			{{currentrotation.normalStages.[1]}}
		</div>
		<div class="block">
			<div class="rule">Mode: {{currentrotation.rankedmode}}</div>
			<img class="stage-image" src="/assets/images/maps/{{currentrotation.rankedIDs.[0]}}.png"></img>
			{{currentrotation.rankedStages.[0]}}
		</div>
		<div class="block">
			<div class="rule">Mode: {{currentrotation.rankedmode}}</div>
			<img class="stage-image" src="/assets/images/maps/{{currentrotation.rankedIDs.[1]}}.png"></img>
			{{currentrotation.rankedStages.[0]}}
		</div>
	</div>
	<div class="nmaps">
		Next Maps
	</div>
</div>