{{> header}}
<div class="container">
	<div class="title">
		<b>Splatoon Server Status</b>
	</div>
	{{#if splatfest.avaliable}}
	<div class="sub-title">Splatfest: {{splatfest.Sstatus}}</div>
	<div class="splatfest">
		<img class="art" src="/assets/images/splatfest.jpg"></img>
		<div class="splatfest-content">
			<div class="theme"><b>{{splatfest.theme}}</b></div>
			<div class="timestamp">{{splatfest.timeOfFest}}</div>
			<div class="splatfestrankedmode"><b>Mode: </b>{{splatfest.gamemode}}</div>
			<div class="stages"><b>Maps:</b>
			<div class="maps">
				<div class="block colored splatfestmode threemaps">
					<img class="stage-image" src="/assets/images/maps/{{splatfest.stagesID.[0]}}.jpg"></img>
					<div class="splatfest-text">{{splatfest.stages.[0]}}</div>
				</div>
				<div class="block colored splatfestmode threemaps">
					<img class="stage-image" src="/assets/images/maps/{{splatfest.stagesID.[1]}}.jpg"></img>
					<div class="splatfest-text">{{splatfest.stages.[1]}}</div>
				</div>
				<div class="block colored splatfestmode threemaps">
					<img class="stage-image" src="/assets/images/maps/{{splatfest.stagesID.[2]}}.jpg"></img>
					<div class="splatfest-text">{{splatfest.stages.[2]}}</div>
				</div>
			</div>
			</div>
		</div>
	</div>
	{{/if}}
	<div class="sub-title">Current Rotation</div>
	<div class="maps">
		<div class="block colored normal">
			<div class="normal-text rule">Mode: Turf War</div>
			<img class="stage-image" src="/assets/images/maps/{{currentrotation.normalIDs.[0]}}.jpg"></img>
			<div class="normal-text">{{currentrotation.normalStages.[0]}}</div>
		</div>
		<div class="block colored normal">
			<div class="normal-text rule">Mode: Turf War</div>
			<img class="stage-image" src="/assets/images/maps/{{currentrotation.normalIDs.[1]}}.jpg"></img>
			<div class="normal-text">{{currentrotation.normalStages.[1]}}</div>
		</div>
		<div class="block colored ranked">
			<div class="ranked-text rule">Mode: {{currentrotation.rankedmode}}</div>
			<img class="stage-image" src="/assets/images/maps/{{currentrotation.rankedIDs.[0]}}.jpg"></img>
			<div class="ranked-text">{{currentrotation.rankedStages.[0]}}</div>
		</div>
		<div class="block colored ranked">
			<div class="ranked-text rule">Mode: {{currentrotation.rankedmode}}</div>
			<img class="stage-image" src="/assets/images/maps/{{currentrotation.rankedIDs.[1]}}.jpg"></img>
			<div class="ranked-text">{{currentrotation.rankedStages.[1]}}</div>
		</div>
	</div>
	<div class="sub-title">Next Rotation</div>
	{{#if nextrotation.avaliable}}
	<div class="maps">
		<div class="block colored normal">
			<div class="normal-text rule">Mode: Turf War</div>
			<img class="stage-image" src="/assets/images/maps/{{nextrotation.normalIDs.[0]}}.jpg"></img>
			<div class="normal-text">{{nextrotation.normalStages.[0]}}</div>
		</div>
		<div class="block colored normal">
			<div class="normal-text rule">Mode: Turf War</div>
			<img class="stage-image" src="/assets/images/maps/{{nextrotation.normalIDs.[1]}}.jpg"></img>
			<div class="normal-text">{{nextrotation.normalStages.[1]}}</div>
		</div>
		<div class="block colored ranked">
			<div class="ranked-text rule">Mode: {{nextrotation.rankedmode}}</div>
			<img class="stage-image" src="/assets/images/maps/{{nextrotation.rankedIDs.[0]}}.jpg"></img>
			<div class="ranked-text">{{nextrotation.rankedStages.[0]}}</div>
		</div>
		<div class="block colored ranked">
			<div class="ranked-text rule">Mode: {{nextrotation.rankedmode}}</div>
			<img class="stage-image" src="/assets/images/maps/{{nextrotation.rankedIDs.[1]}}.jpg"></img>
			<div class="ranked-text">{{nextrotation.rankedStages.[1]}}</div>
		</div>
	</div>
	{{/if}}
	{{#unless nextrotation.avaliable}}
		<div class="no-rotation">This is the last Rotation avaliable.</div>
	{{/unless}}
	</div>
</div>